.mar{
    margin-right: 600px;
    margin-left: 600px;
}
.m-t{
    margin-top: 150px;
}
.m-t-r{
    margin-top: 150px;
}
.style{
    list-style: none;
}
.c-yellow{
    background-color: rgb(248, 248, 206);
}
.bg-yellow{
    background-color: rgb(245, 245, 172);
}
.margin-top{
    margin-top: 40px;
}